body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

input {
  border: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

textarea:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: block;
  width: 30vw;
}

li {
  text-align: left;
}
